
body {
    background: url(../pictures/Chess.jpg) no-repeat fixed center center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.row {
    margin: 0;
}

.name {
    color: white;
    font-weight: bold;
    font-family: "Arial Black", serif;
    padding: 1.3vh 0 0 0 !important;
    font-size: 1.25vw;
    border: none;
    background: none;
    height: inherit;
    text-overflow: clip;
}

.name:hover {
    cursor: pointer;
}

.fancy {
    font-family: "Lucida Handwriting", serif;
}

.big {
    font-size: 1.55vw;
    padding-left: 1vw;
    padding-top: 1.9vh !important;
}

.border {
    border: 0 solid #333;
    border-top-width: 0.26vw;
    border-bottom-width: 0.26vw;
}

.border:hover {
    color: #777;
    box-shadow: #000000 3px 0 5px, #000000 -3px 0 5px;
}

.topBar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 7.7vh;
    background-color: #222;
    box-shadow: #0f0f0f 0 .5vh .5vw;
    overflow: hidden;
    margin: 0 !important;
    max-height: 9vw;
}

.main, .about, .calendar, .contact, .events, .forms, .news, .pictures, .not {
    font-size: 1.5vw;
    padding: 3% 5vw;
    background-color: #333;
    border: 1vw solid #444;
    width: 80vw;
    margin-top: 10vh;
    margin-left: 8vw;
    margin-bottom: 1vw;
    /*height: 100vh;*/
    box-shadow: #222 -.05vw -.05vw 1vw, #222 .2vw .2vw 1vw;
    color:white;
    display: none;
    overflow: hidden;
}

.events {
    padding: 4vw 4vw;
}

.list {
    width: 40vw;
    margin-left: 15vw;
    text-align: left;
}

li{
    list-style: square;
}

.event {
    width: 70vw;
    height: 20vw;
    outline: .25vw solid #222;
    margin-bottom: 4vw;
    display: none;
}

.eventPic {
    float: left;
    outline: 0.25vw solid #222;
    height: 20vw;
    width: 20vw;
    background-size:cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}

.eventInfo {
    float: left;
}

.eventTitle {
    height: 4vw;
    width: 50vw;
    padding: 0.5vw;
}

.eventDesc {
    height: 16vw;
    width: 50vw;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1vw;
}

::-webkit-scrollbar
{
    width: 0.3vw;  /* for vertical scrollbars */
    height: 0.3vw; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}

.loadMore {
    color: #337ab7;
    margin-top: 2vw;
    cursor: pointer;
    background-color: #292929;

}

.loadMore:hover {
    color: dodgerblue;
    text-decoration: underline;
}

.meetings {
    padding-left: 5vw;
    padding-right: 5vw;
}

.contactBorder1, .contactBorder2{
    float: left;
    margin-top: 4%;
    width: 33vw;
    height: 30vh;
    max-height:11vw;
    border: white 0.5vw solid;
}

.contactBorder1 {
    border-top-right-radius: 3vw;
    border-bottom-left-radius: 3vw;
}

.contactBorder2 {
    border-top-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
}

.contactPic {
    width: 10vw;
    height: 100%;
    border-right: solid white 0.5vw;
    float: left;
}

.contactBorder1 > .contactPic img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 2vw;
}

.contactBorder2 > .contactPic img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 2vw;
}

.contactDetails {
    float: left;
    width: 22vw;
    height: 100%;
    padding: 2% 1vw 1vh 1vw;
    font-size: 1.3vw;
}

.contactName {
    font-size: 2.2vw;
}