body {
    background: url(../pictures/Chess.jpg) no-repeat fixed;
    background-size:cover;
}

.row {
    margin: 0;
}

.name {
    color: white;
    font-weight: bold;
    font-family: "Arial Black", serif;
    padding: 0.25cm 0 0 0 !important;
    font-size: 1.25vw;
    border: none;
    background: none;
    height: inherit;
    text-overflow: clip;
}

.name:hover {
    cursor: pointer;
}

.fancy {
    font-family: "Lucida Handwriting", serif;
}

.big {
    font-size: 1.55vw;
    padding-left: 1cm;
    padding-top: 0.35cm !important;
}

.border {
    border: 0 solid #333;
    border-top-width: 0.1cm;
    border-bottom-width: 0.1cm;
}

.border:hover {
    color: #777;
    box-shadow: #000000 3px 0 5px, #000000 -3px 0 5px;
}

.topBar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 1.5cm;
    background-color: #222;
    box-shadow: #0f0f0f 0 5px 10px;
    overflow: hidden;
}

.main, .about, .calendar, .contact, .events, .forms, .news, .pictures, .not {
    background-color: #333;
    border: 1vw solid #444;
    width: 80vw;
    margin-top: 2cm;
    margin-left: 8vw;
    margin-bottom: 1vw;
    height: 100vh;
    box-shadow: #222 -1px -1px 10px, #222 5px 5px 10px;
    color:white;
    display: none;
}