
body {
    background: url(../pictures/Chess.jpg) no-repeat fixed center center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    width: 100%;
}

.row {
    margin: 0;
}

.name {
    color: white;
    font-weight: bold;
    font-family: "Arial Black", serif;
    padding: 1.3vh 0 0 0 !important;
    font-size: 1.25vw;
    border: none;
    background: none;
    height: inherit;
    text-overflow: clip;
}

.name:hover {
    cursor: pointer;
}

.fancy {
    font-family: "Lucida Handwriting", serif;
}

.big {
    font-size: 1.55vw;
    padding-left: 1vw;
    padding-top: 1.9vh !important;
}

.border {
    border: 0 solid #333;
    border-top-width: 0.26vw;
    border-bottom-width: 0.26vw;
}

.border:hover {
    color: #777;
    box-shadow: #000000 3px 0 5px, #000000 -3px 0 5px;
}

.topBar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 7.7vh;
    background-color: #222;
    box-shadow: #0f0f0f 0 .5vh .5vw;
    overflow: hidden;
    margin: 0 !important;
}

.main, .about, .calendar, .contact, .events, .forms, .news, .pictures, .not {
    font-size: 2vw;
    padding: 5vh 5vw;
    background-color: #333;
    border: 1vw solid #444;
    width: 80vw;
    margin-top: 10vh;
    margin-left: 8vw;
    margin-bottom: 1vw;
    /*height: 100vh;*/
    box-shadow: #222 -.05vw -.05vw 1vw, #222 .2vw .2vw 1vw;
    color:white;
    display: none;
}

.list {
    width: 40vw;
    margin-left: 15vw;
    text-align: left;
}

li{
    list-style: square;
}

ul {
    padding-left: 0;
}